@import 'profile';
@import 'navbar';

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

// border-radius no longer requires prefixes 
// but for the sake of the tutorial, i will include!
// i think the benefit of creating a mixin here,
// instead of adding this code to .panel,
// is that we can add a parameter to our mixin
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.panel {
  border: 3px solid dodgerblue;
  background: rgb(144, 232, 238);
  margin: 10px;
}

.little-panel {
  // .little-panel will inherit all of .panel's code!
  @extend .panel;
  font-size: 12px;
  padding: 5px;
  @include border-radius(5px);
}

.big-panel {
  // .big-panel will inherit all of .panel's code!
  @extend .panel;
  font-size: 32px;
  padding: 20px;
  @include border-radius(20px)
}

$buttonBackground: #16A085;
$buttonColor: #FFFFFF;
$buttonPadding: 5px;

.button {
  background: $buttonBackground;
  border-radius: 8px;
  color: $buttonColor;
  padding: $buttonPadding;
  display: inline-block;
  text-decoration: none;
}

.jumbo-button {
  @extend .button;
  padding: $buttonPadding + 30;
}

.light-button {
  @extend .button;
  // when you multiple a color by a num > 1
  // it lightens the color
  background: $buttonBackground * 1.5;
}